.land {
    display: grid;
    width: 540px;
    gap: 20px;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
  }
  
  .element--1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .element--2 {
    grid-area: 2 / 3 / 4 / 4; 
  }
  
  .element--3 {
    grid-area: 1 / 4 / span 2; 
  }
  
  .element--4 {
    grid-area: 2 / 1 / 4 / 2;   
  }
  